In [1]:
import pandas as pd
import numpy as np
from datetime import date
from datetime import datetime, timedelta
# import warnings
# warnings.filterwarnings("ignore")
fristdate = pd.to_datetime("2024-6-26") #判断是否首次进入B
nowdate = pd.to_datetime("2024-7-14") #手动改成昨天
a = 14 #excel名称
df15 = pd.read_excel("D:/日报/Thailand Report 711.xlsx",sheet_name= "Resigned") #上份战报，1号的话注释掉
# df15 = pd.DataFrame() # 1号的时候是取空
# df = pd.read_excel("D:/python/日报/分案ab.xlsx",sheet_name = 0)
# df1 = pd.read_excel("D:/python/日报/催回ab.xlsx",sheet_name = 0)
# df1 = pd.read_excel("D:/python/日报/催回ab.xlsx",sheet_name = 0)
# df2 = pd.read_excel("D:/python/日报/催回p.xlsx",sheet_name = 0)
# df3 = pd.concat([df1,df2],axis=0)
# df3 = pd.read_excel("D:/python/日报/催回p.xlsx",sheet_name = 0)
df = pd.read_excel("D:/python/日报/分案回款.xlsx",sheet_name = 0)

FileNotFoundError: [Errno 2] No such file or directory: 'D:/日报/Thailand Report 711.xlsx'

In [2]:
df1 = df.groupby("催员ID",as_index=False)[["新案分案本金","新案回款本金","新案展期费用","总实收"]].sum()
df1["回款本金"] = df1["新案回款本金"]+df1["新案展期费用"]
df1.rename(columns={"新案分案本金":"派发本金"},inplace=True)

NameError: name 'df' is not defined

In [3]:
# #老主管
# df=df.loc[~((df['id'].isin([
# '066fa1ef6ebb451c8c75dd4fcfab0d70',
# '1f77f826f1fa43f6bee9daada59bd31d',
# '23d42e6791b24962909163f78100e299',
# '3f1116bb24084ae3a9ad3bf2d550f98e',
# '4b09acef5e804c0884414f3b465c494b',
# '4eb82e4004f840b4ac3ed8dddfd66698',
# '653bcee0d2424b9aaa9274ffa6af2b88',
# '74b75fc075004c3ea8b336a244d33cb9',
# '815923c45e9242a982efcd379a2f5f16',
# '933bfd044ec940b5a61ce0be115774ec',
# 'aec79620a62549aa9ca2befa62886814',
# 'b06f8e78d2c541a08fb2a8210272180d',
# 'c78e15bec0404387a6299b7f3cc7a2ba',
# 'e540792154d6426391f17fe9adb9946c',
# '288f1c7925f049a2884b4fb6aa0bdc51',
# '42b18f054fed4aec8116771ebb802088',
# '8729da1abcdd47df9beeb1e777019180',
# '9e88acbd45ee4b509c2d7911533903c3',
# 'a77d8ff877624d61bbb564173ce20555',
# 'b200e3e3b94d4731a7e86a68df2b2b7e',
# 'b3bd987edee34c45b95b0d8465156f20',
# 'd5e56f7b838a47fbbf5a94c1130216e0',
# 'd9bb729fc12f4605a395de2926dcabbd',
# '1481af29fff041428dc3d8cad721463f',
# '51958ce778244e61816a24a5e0d0880e',
# '55a3cf0e5e664174ad0b6e514de353de',
# '6178324537de41f0b9a1dad01a2e516f',
# '698c97cb677b41afb56be12adeef6cca',
# '81d25300b6d54faca77f58b73bac8d1d',
# 'b494857015524ec4bfb7afa8a43ae72e',
# 'de91132cb20445de8791ff9cd95d7914',
# 'f01c9bd1141b4253923b91ef1b356b76',
# '0d71862a73bc41c88bd2bc5e7d76c4ea',
# '1d8a31425be14e3eb0259fe27504e3b5',
# '39bdce9c34184fb0a421ac643996df20',
# '42591cf172d04df09c174514bb35ce87',
# '4f61122ed1c04fc9ba20c67665a1d5bc',
# '5d2f9f13ddb547b38d15c92cbc97b44a',
# '86a1d7d8d92b442198834f9b54c43ec5',
# '8bb0f5378ce3413fa11a06b796863c59',
# 'aa55851ce2364b5da2b59c1c757a680a',
# 'b2927af453a94bbd94da68cdfa67cb23',
# 'eba9f03b9c1b4f6f8c4e9a89605c9790',
# 'ffb79e409ee6449683f07bb8b8283d7b',
# '049a57e004a846328f12f66d3878a398',
# '15f54a70119c47c58b46c2fd144adbb1',
# '43a5e13785e7496c8585490a24df5f7e',
# '4b0cfb894efc42a5aac172584d0ca401',
# '52d379dda6724c1780d10e403582334e',
# '56e58dd7e3014f5ebc3085bbfc539081',
# '8277302b90954b31af699da46ba96dba',
# '8c41acfe782845638e0d02c71bc3a212',
# 'aa15b74533904b6796597e4c8ce66dfe',
# 'c3e69edbcf724404bf00652625f6d70d',
# 'dd48e8f2e8554da4b5c4c925a3316fb3',
# 'e0ff1cff02cb4d04aae8d9e1326ff653',
# 'ef2005e30eb74611bb887769504e8e78',
# 'f2e80ab648724fb6a4d78ba4b57b86b3',
# 'ffb8505116f94589860b391aa24e7198',
# '0b3ce18997934b58af8f056bd01a12db',
# '2314dddfac92494bbd2b404de917be96',
# '28ff173204cd4dba90274c4a2bcf3f43',
# '3cd9c3cb6f9641adb024cab339ef5f4e',
# '3f5275b0dc014aaea4d71fa539147800',
# '593c905bec0e41fa9b33c138a0cfdabd',
# '60fb836718c448be93683f62814aedb8',
# '6d9b513caff04fc2b13c4bbb635c5724',
# '7896f1cfbb5b4c83a9efbf0db981231a',
# '8951cc2960a54387b91198635bdf7fbd',
# 'a9d84cbb6c9c4bd6a48ce3e77b3a091b',
# 'a9e43f0a3a964c86bd836ffa29baf366',
# 'afee8e75ffc3401797b28ecc5d8a7b88',
# 'f77c5199731947adb413b346027280d7',
# 'f861e60aa661445caf8cd3cd11a0ef82',
# 'fb79a69845b24705b722dbbee74fb050',
# '669f31eae2fe47a8bcd3adcbdb742f13',
# '3b75c05febe54207ae9f413a0f5480a0',
# '6a28d97ffb6a46eba8aa9d5dbdf405b2',
# '9abbd6df41be4b148fb8f05277455dbc',
# 'a26e09859e4141ceac73aa15a51ee3e5',
# '03ddd221a6dd49a6b5bf295574aff996',
# 'eb24cbe7ede14dabb9dfab5c85773cde',
# 'dd47910afb644e5185dd6d526165af01',
# 'fbeb1ecc9365452e876400e77fa5b878',
# 'f8546817d68348d1921d68d8f2df7f4b',
# '4c32ee17627f4c7ea47c5e4953dbe9a2',
# 'd8267633968240d1892fb3152945db2b',
# '77a534218fe54da295312d2e256bafe3',
# 'd941b7549c254874a410b314be362ebe',
# '54a201969f45484398db5ae8cfb8d749',
# '3b015a5f2e3a42d99a5721de65af14f9',
# 'bafa8a6ddc1f4d29a12599c52c494291',
# '454ebafaa78043acb3e8184f36323b04',
# 'f666e193d0a543658acdf35a9b4b1359',
# '0a8b07e7ad27492eaaa890f633657244',
# '9846662d30c24771a5e1f62d16c8525b',
# '94d2b2af53cb4ccb96de708924e64fd1',
# '05b23f8a76c34e71a77bfec318d8f0b1',
# '34a09b5710cf4fc2bdb777a8b679b615',
# 'e467a68cafa5426f85eef002d06db933',
# '2221a9aaf4804208aa9e15e9fa6b0862',
# '4178ba48104748818f1bd4110cda4619',
# '74be3285e6ac4254b0e39dc5e0583267',
# '2a4f87b86fdf42568f174f5a53b769d7',
# 'e3a0c8b6ec4f491ea1bb76ab8dd3cb49',
# 'f63970a60b9748c395f1a18549812ed2',
# 'c5f7287244064d2a8edb648338282b2e',
# '0d5bbc434b9e4650b8367560ccd1388b'
# ]))&(df['日期']>="2024-3-16")),]
# df1=df1.loc[~((df1['id'].isin([
# '066fa1ef6ebb451c8c75dd4fcfab0d70',
# '1f77f826f1fa43f6bee9daada59bd31d',
# '23d42e6791b24962909163f78100e299',
# '3f1116bb24084ae3a9ad3bf2d550f98e',
# '4b09acef5e804c0884414f3b465c494b',
# '4eb82e4004f840b4ac3ed8dddfd66698',
# '653bcee0d2424b9aaa9274ffa6af2b88',
# '74b75fc075004c3ea8b336a244d33cb9',
# '815923c45e9242a982efcd379a2f5f16',
# '933bfd044ec940b5a61ce0be115774ec',
# 'aec79620a62549aa9ca2befa62886814',
# 'b06f8e78d2c541a08fb2a8210272180d',
# 'c78e15bec0404387a6299b7f3cc7a2ba',
# 'e540792154d6426391f17fe9adb9946c',
# '288f1c7925f049a2884b4fb6aa0bdc51',
# '42b18f054fed4aec8116771ebb802088',
# '8729da1abcdd47df9beeb1e777019180',
# '9e88acbd45ee4b509c2d7911533903c3',
# 'a77d8ff877624d61bbb564173ce20555',
# 'b200e3e3b94d4731a7e86a68df2b2b7e',
# 'b3bd987edee34c45b95b0d8465156f20',
# 'd5e56f7b838a47fbbf5a94c1130216e0',
# 'd9bb729fc12f4605a395de2926dcabbd',
# '1481af29fff041428dc3d8cad721463f',
# '51958ce778244e61816a24a5e0d0880e',
# '55a3cf0e5e664174ad0b6e514de353de',
# '6178324537de41f0b9a1dad01a2e516f',
# '698c97cb677b41afb56be12adeef6cca',
# '81d25300b6d54faca77f58b73bac8d1d',
# 'b494857015524ec4bfb7afa8a43ae72e',
# 'de91132cb20445de8791ff9cd95d7914',
# 'f01c9bd1141b4253923b91ef1b356b76',
# '0d71862a73bc41c88bd2bc5e7d76c4ea',
# '1d8a31425be14e3eb0259fe27504e3b5',
# '39bdce9c34184fb0a421ac643996df20',
# '42591cf172d04df09c174514bb35ce87',
# '4f61122ed1c04fc9ba20c67665a1d5bc',
# '5d2f9f13ddb547b38d15c92cbc97b44a',
# '86a1d7d8d92b442198834f9b54c43ec5',
# '8bb0f5378ce3413fa11a06b796863c59',
# 'aa55851ce2364b5da2b59c1c757a680a',
# 'b2927af453a94bbd94da68cdfa67cb23',
# 'eba9f03b9c1b4f6f8c4e9a89605c9790',
# 'ffb79e409ee6449683f07bb8b8283d7b',
# '049a57e004a846328f12f66d3878a398',
# '15f54a70119c47c58b46c2fd144adbb1',
# '43a5e13785e7496c8585490a24df5f7e',
# '4b0cfb894efc42a5aac172584d0ca401',
# '52d379dda6724c1780d10e403582334e',
# '56e58dd7e3014f5ebc3085bbfc539081',
# '8277302b90954b31af699da46ba96dba',
# '8c41acfe782845638e0d02c71bc3a212',
# 'aa15b74533904b6796597e4c8ce66dfe',
# 'c3e69edbcf724404bf00652625f6d70d',
# 'dd48e8f2e8554da4b5c4c925a3316fb3',
# 'e0ff1cff02cb4d04aae8d9e1326ff653',
# 'ef2005e30eb74611bb887769504e8e78',
# 'f2e80ab648724fb6a4d78ba4b57b86b3',
# 'ffb8505116f94589860b391aa24e7198',
# '0b3ce18997934b58af8f056bd01a12db',
# '2314dddfac92494bbd2b404de917be96',
# '28ff173204cd4dba90274c4a2bcf3f43',
# '3cd9c3cb6f9641adb024cab339ef5f4e',
# '3f5275b0dc014aaea4d71fa539147800',
# '593c905bec0e41fa9b33c138a0cfdabd',
# '60fb836718c448be93683f62814aedb8',
# '6d9b513caff04fc2b13c4bbb635c5724',
# '7896f1cfbb5b4c83a9efbf0db981231a',
# '8951cc2960a54387b91198635bdf7fbd',
# 'a9d84cbb6c9c4bd6a48ce3e77b3a091b',
# 'a9e43f0a3a964c86bd836ffa29baf366',
# 'afee8e75ffc3401797b28ecc5d8a7b88',
# 'f77c5199731947adb413b346027280d7',
# 'f861e60aa661445caf8cd3cd11a0ef82',
# 'fb79a69845b24705b722dbbee74fb050',
# '669f31eae2fe47a8bcd3adcbdb742f13',
# '3b75c05febe54207ae9f413a0f5480a0',
# '6a28d97ffb6a46eba8aa9d5dbdf405b2',
# '9abbd6df41be4b148fb8f05277455dbc',
# 'a26e09859e4141ceac73aa15a51ee3e5',
# '03ddd221a6dd49a6b5bf295574aff996',
# 'eb24cbe7ede14dabb9dfab5c85773cde',
# 'dd47910afb644e5185dd6d526165af01',
# 'fbeb1ecc9365452e876400e77fa5b878',
# 'f8546817d68348d1921d68d8f2df7f4b',
# '4c32ee17627f4c7ea47c5e4953dbe9a2',
# 'd8267633968240d1892fb3152945db2b',
# '77a534218fe54da295312d2e256bafe3',
# 'd941b7549c254874a410b314be362ebe',
# '54a201969f45484398db5ae8cfb8d749',
# '3b015a5f2e3a42d99a5721de65af14f9',
# 'bafa8a6ddc1f4d29a12599c52c494291',
# '454ebafaa78043acb3e8184f36323b04',
# 'f666e193d0a543658acdf35a9b4b1359',
# '0a8b07e7ad27492eaaa890f633657244',
# '9846662d30c24771a5e1f62d16c8525b',
# '94d2b2af53cb4ccb96de708924e64fd1',
# '05b23f8a76c34e71a77bfec318d8f0b1',
# '34a09b5710cf4fc2bdb777a8b679b615',
# 'e467a68cafa5426f85eef002d06db933',
# '2221a9aaf4804208aa9e15e9fa6b0862',
# '4178ba48104748818f1bd4110cda4619',
# '74be3285e6ac4254b0e39dc5e0583267',
# '2a4f87b86fdf42568f174f5a53b769d7',
# 'e3a0c8b6ec4f491ea1bb76ab8dd3cb49',
# 'f63970a60b9748c395f1a18549812ed2',
# 'c5f7287244064d2a8edb648338282b2e',
# '0d5bbc434b9e4650b8367560ccd1388b']))&(df1['日期']>="2024-3-16")),]
# df3=df3.loc[~((df3['assigned_sys_user_id'].isin([
# '066fa1ef6ebb451c8c75dd4fcfab0d70',
# '1f77f826f1fa43f6bee9daada59bd31d',
# '23d42e6791b24962909163f78100e299',
# '3f1116bb24084ae3a9ad3bf2d550f98e',
# '4b09acef5e804c0884414f3b465c494b',
# '4eb82e4004f840b4ac3ed8dddfd66698',
# '653bcee0d2424b9aaa9274ffa6af2b88',
# '74b75fc075004c3ea8b336a244d33cb9',
# '815923c45e9242a982efcd379a2f5f16',
# '933bfd044ec940b5a61ce0be115774ec',
# 'aec79620a62549aa9ca2befa62886814',
# 'b06f8e78d2c541a08fb2a8210272180d',
# 'c78e15bec0404387a6299b7f3cc7a2ba',
# 'e540792154d6426391f17fe9adb9946c',
# '288f1c7925f049a2884b4fb6aa0bdc51',
# '42b18f054fed4aec8116771ebb802088',
# '8729da1abcdd47df9beeb1e777019180',
# '9e88acbd45ee4b509c2d7911533903c3',
# 'a77d8ff877624d61bbb564173ce20555',
# 'b200e3e3b94d4731a7e86a68df2b2b7e',
# 'b3bd987edee34c45b95b0d8465156f20',
# 'd5e56f7b838a47fbbf5a94c1130216e0',
# 'd9bb729fc12f4605a395de2926dcabbd',
# '1481af29fff041428dc3d8cad721463f',
# '51958ce778244e61816a24a5e0d0880e',
# '55a3cf0e5e664174ad0b6e514de353de',
# '6178324537de41f0b9a1dad01a2e516f',
# '698c97cb677b41afb56be12adeef6cca',
# '81d25300b6d54faca77f58b73bac8d1d',
# 'b494857015524ec4bfb7afa8a43ae72e',
# 'de91132cb20445de8791ff9cd95d7914',
# 'f01c9bd1141b4253923b91ef1b356b76',
# '0d71862a73bc41c88bd2bc5e7d76c4ea',
# '1d8a31425be14e3eb0259fe27504e3b5',
# '39bdce9c34184fb0a421ac643996df20',
# '42591cf172d04df09c174514bb35ce87',
# '4f61122ed1c04fc9ba20c67665a1d5bc',
# '5d2f9f13ddb547b38d15c92cbc97b44a',
# '86a1d7d8d92b442198834f9b54c43ec5',
# '8bb0f5378ce3413fa11a06b796863c59',
# 'aa55851ce2364b5da2b59c1c757a680a',
# 'b2927af453a94bbd94da68cdfa67cb23',
# 'eba9f03b9c1b4f6f8c4e9a89605c9790',
# 'ffb79e409ee6449683f07bb8b8283d7b',
# '049a57e004a846328f12f66d3878a398',
# '15f54a70119c47c58b46c2fd144adbb1',
# '43a5e13785e7496c8585490a24df5f7e',
# '4b0cfb894efc42a5aac172584d0ca401',
# '52d379dda6724c1780d10e403582334e',
# '56e58dd7e3014f5ebc3085bbfc539081',
# '8277302b90954b31af699da46ba96dba',
# '8c41acfe782845638e0d02c71bc3a212',
# 'aa15b74533904b6796597e4c8ce66dfe',
# 'c3e69edbcf724404bf00652625f6d70d',
# 'dd48e8f2e8554da4b5c4c925a3316fb3',
# 'e0ff1cff02cb4d04aae8d9e1326ff653',
# 'ef2005e30eb74611bb887769504e8e78',
# 'f2e80ab648724fb6a4d78ba4b57b86b3',
# 'ffb8505116f94589860b391aa24e7198',
# '0b3ce18997934b58af8f056bd01a12db',
# '2314dddfac92494bbd2b404de917be96',
# '28ff173204cd4dba90274c4a2bcf3f43',
# '3cd9c3cb6f9641adb024cab339ef5f4e',
# '3f5275b0dc014aaea4d71fa539147800',
# '593c905bec0e41fa9b33c138a0cfdabd',
# '60fb836718c448be93683f62814aedb8',
# '6d9b513caff04fc2b13c4bbb635c5724',
# '7896f1cfbb5b4c83a9efbf0db981231a',
# '8951cc2960a54387b91198635bdf7fbd',
# 'a9d84cbb6c9c4bd6a48ce3e77b3a091b',
# 'a9e43f0a3a964c86bd836ffa29baf366',
# 'afee8e75ffc3401797b28ecc5d8a7b88',
# 'f77c5199731947adb413b346027280d7',
# 'f861e60aa661445caf8cd3cd11a0ef82',
# 'fb79a69845b24705b722dbbee74fb050',
# '669f31eae2fe47a8bcd3adcbdb742f13',
# '3b75c05febe54207ae9f413a0f5480a0',
# '6a28d97ffb6a46eba8aa9d5dbdf405b2',
# '9abbd6df41be4b148fb8f05277455dbc',
# 'a26e09859e4141ceac73aa15a51ee3e5',
# '03ddd221a6dd49a6b5bf295574aff996',
# 'eb24cbe7ede14dabb9dfab5c85773cde',
# 'dd47910afb644e5185dd6d526165af01',
# 'fbeb1ecc9365452e876400e77fa5b878',
# 'f8546817d68348d1921d68d8f2df7f4b',
# '4c32ee17627f4c7ea47c5e4953dbe9a2',
# 'd8267633968240d1892fb3152945db2b',
# '77a534218fe54da295312d2e256bafe3',
# 'd941b7549c254874a410b314be362ebe',
# '54a201969f45484398db5ae8cfb8d749',
# '3b015a5f2e3a42d99a5721de65af14f9',
# 'bafa8a6ddc1f4d29a12599c52c494291',
# '454ebafaa78043acb3e8184f36323b04',
# 'f666e193d0a543658acdf35a9b4b1359',
# '0a8b07e7ad27492eaaa890f633657244',
# '9846662d30c24771a5e1f62d16c8525b',
# '94d2b2af53cb4ccb96de708924e64fd1',
# '05b23f8a76c34e71a77bfec318d8f0b1',
# '34a09b5710cf4fc2bdb777a8b679b615',
# 'e467a68cafa5426f85eef002d06db933',
# '2221a9aaf4804208aa9e15e9fa6b0862',
# '4178ba48104748818f1bd4110cda4619',
# '74be3285e6ac4254b0e39dc5e0583267',
# '2a4f87b86fdf42568f174f5a53b769d7',
# 'e3a0c8b6ec4f491ea1bb76ab8dd3cb49',
# 'f63970a60b9748c395f1a18549812ed2',
# 'c5f7287244064d2a8edb648338282b2e',
# '0d5bbc434b9e4650b8367560ccd1388b'
# ]))&(df3['时间区分']>="2024-3-16")),]

In [4]:
# # 算新组长
# df=df.loc[~((df['id'].isin([
# '0b3ce18997934b58af8f056bd01a12db',
# '0d71862a73bc41c88bd2bc5e7d76c4ea',
# '39bdce9c34184fb0a421ac643996df20',
# '42591cf172d04df09c174514bb35ce87',
# '5d2f9f13ddb547b38d15c92cbc97b44a',
# '86a1d7d8d92b442198834f9b54c43ec5',
# '8bb0f5378ce3413fa11a06b796863c59',
# 'aa55851ce2364b5da2b59c1c757a680a',
# 'b2927af453a94bbd94da68cdfa67cb23',
# 'e0ff1cff02cb4d04aae8d9e1326ff653',
# 'eba9f03b9c1b4f6f8c4e9a89605c9790',
# 'ffb79e409ee6449683f07bb8b8283d7b'
# ]))&(df['日期']<"2024-5-12")),]
# df1=df1.loc[~((df1['id'].isin([
# '0b3ce18997934b58af8f056bd01a12db',
# '0d71862a73bc41c88bd2bc5e7d76c4ea',
# '39bdce9c34184fb0a421ac643996df20',
# '42591cf172d04df09c174514bb35ce87',
# '5d2f9f13ddb547b38d15c92cbc97b44a',
# '86a1d7d8d92b442198834f9b54c43ec5',
# '8bb0f5378ce3413fa11a06b796863c59',
# 'aa55851ce2364b5da2b59c1c757a680a',
# 'b2927af453a94bbd94da68cdfa67cb23',
# 'e0ff1cff02cb4d04aae8d9e1326ff653',
# 'eba9f03b9c1b4f6f8c4e9a89605c9790',
# 'ffb79e409ee6449683f07bb8b8283d7b'
# ]))&(df1['日期']<"2024-5-12")),]

In [5]:
# df3.rename(columns={"assigned_sys_user_id":"id"},inplace=True)
# dfgp = df.groupby("id")["派发本金"].sum()
# df1gp = df1.groupby("id")["回款本金"].sum()
# df3gp = df3.groupby("id").agg({"派发本金":"sum","回款本金":"sum"})
# dfmg = pd.merge(dfgp,df1gp,on= "id",how="left")
# gp_gp2 = pd.concat([dfmg,df3gp],axis=0)

In [6]:
# gp_gp2.reset_index(inplace= True)
# a1={
# # p
# '02320f29af904c57a929a4c1d730780b':134993.04,
# '247f542bd2104fd8b075a2e95bfa763f':136476.9,
# '2a92b5e5642d437889e771a85bb21eac':138330.95,
# '32cf90ea64df420e942f645e5cac6e6b':134683.14,
# '3a1d2b0223694686bbfce0a5b6fb8958':133478.58,
# '4ff40f87b6af4c9aab5095158d10dd31':141388.35,
# '5312a7973f72476bad27244dea956983':137025.92,
# '55774e8a7c4c46258688ceaad5b0af21':139074.62,
# '59591878ef22478c93fd2995b655d41d':134614.63,
# '5b8a8dcca63c4de096334379519a23f5':137619.4,
# '5e76978e84104319ab895f97d605cbda':134073.59,
# '7b9e5a429be74170b37d5876579bac61':136011.78,
# '81bfe36c82324f18962d3bfd298ff654':143104.43,
# '850a0f37bd674a508503542e7f24adcb':139650.92,
# '8d093e978ff44bff98dd0d92c4382d41':139375.87,
# '8e585ff1c2a74f458d0f373ce9d0c6bf':135608.43,
# '95f8eed888cd4abc94c4e66a398c8ee6':135464.4,
# '9790b636d1a147128d1fd85876643407':28349.91,
# '97eada8ede27418ab26339c98787142a':133988.42,
# '996baba816d142718f69ff1b53d532dc':142017.14,
# '9ff51f0fea254a2abadd60dcc1c5f653':135876.94,
# 'ab690f67020440958df8dce05e02b76c':134672.19,
# 'b7690d991f58495db0b38243fafd2a58':138874.6,
# 'bb80ec555236479891534616fedea998':131988.42,
# 'bb8b07e32e1d4811aef17709d223b00c':139177.89,
# 'd2081413e56243ba8e26aad435eba9fc':141602.16,
# 'd71c81ba46b3425383a034433f21a9ef':139473.39,
# 'f56a015754b24154ba6fe36d4a26ff04':139673.17,
# 'f6f97d47ad494c5e9b3f29377488f3a8':132256.64,
# 'fcc73d5fc8af40eda439e94d7e23d795':136505.69,
# 'fdb76936cbcd4d388278762aadb9e0d6':138507.13}
# a2 = {
# #p
# '02320f29af904c57a929a4c1d730780b':11724.97,
# '247f542bd2104fd8b075a2e95bfa763f':13574.95,
# '2a92b5e5642d437889e771a85bb21eac':9799.98,
# '32cf90ea64df420e942f645e5cac6e6b':17454.96,
# '3a1d2b0223694686bbfce0a5b6fb8958':15224.95,
# '4ff40f87b6af4c9aab5095158d10dd31':21187.43,
# '5312a7973f72476bad27244dea956983':13949.96,
# '55774e8a7c4c46258688ceaad5b0af21':5949.98,
# '59591878ef22478c93fd2995b655d41d':8674.98,
# '5b8a8dcca63c4de096334379519a23f5':11549.96,
# '5e76978e84104319ab895f97d605cbda':9235.98,
# '7b9e5a429be74170b37d5876579bac61':7977.47,
# '81bfe36c82324f18962d3bfd298ff654':7249.99,
# '850a0f37bd674a508503542e7f24adcb':8274.98,
# '8d093e978ff44bff98dd0d92c4382d41':13614.94,
# '8e585ff1c2a74f458d0f373ce9d0c6bf':13689.96,
# '95f8eed888cd4abc94c4e66a398c8ee6':5499.98,
# '9790b636d1a147128d1fd85876643407':15049.95,
# '97eada8ede27418ab26339c98787142a':16337.45,
# '996baba816d142718f69ff1b53d532dc':13059.95,
# '9ff51f0fea254a2abadd60dcc1c5f653':16849.94,
# 'ab690f67020440958df8dce05e02b76c':10581.23,
# 'b7690d991f58495db0b38243fafd2a58':3374.99,
# 'bb80ec555236479891534616fedea998':17299.94,
# 'bb8b07e32e1d4811aef17709d223b00c':19599.94,
# 'd2081413e56243ba8e26aad435eba9fc':14954.96,
# 'd71c81ba46b3425383a034433f21a9ef':12974.97,
# 'f56a015754b24154ba6fe36d4a26ff04':11799.98,
# 'f6f97d47ad494c5e9b3f29377488f3a8':8919.96,
# 'fcc73d5fc8af40eda439e94d7e23d795':7574.97,
# 'fdb76936cbcd4d388278762aadb9e0d6':4899.99}

In [7]:
# gp_gp2['派发本金'] = gp_gp2.apply(lambda row: max(round(row['派发本金'] - a1.get(row['id'], 0), 2), 0), axis=1)
# gp_gp2['回款本金'] = gp_gp2.apply(lambda row: max(round(row['回款本金'] - a2.get(row['id'], 0), 2), 0), axis=1)
#  for id,value in a1.items():
#          gp_gp2.loc[gp_gp2['id'] == id, '派发本金'] -= value

In [8]:
df7 = pd.read_excel("D:/python/日报/组员信息表.xlsx")
#算老主管的数据
# df7 = pd.read_excel("D:/python/日报/组员信息表.xlsx",sheet_name="15")
mg_df = pd.merge(df7,df1,right_on ="催员ID",left_on = "id",how='left').fillna(0)

FileNotFoundError: [Errno 2] No such file or directory: 'D:/python/日报/组员信息表.xlsx'

In [9]:
# df4 = pd.read_excel("D:/python/日报/实收.xlsx",sheet_name = 0)
# df4gp = df4.groupby("user_id")[["总实收"]].sum().reset_index()
# df4gp.rename(columns={"user_id":"id"}, inplace=True)
# mg_df2 = pd.merge(mg_df,df4gp,on="id",how='left').fillna(0)

In [10]:
df5 = pd.read_excel("D:/python/日报/日报工作天数.xlsx",sheet_name = 0)
# 新组长上线天数
# df5_1 = pd.read_excel("D:/python/日报/日报工作天数1.xlsx",sheet_name = 0)
# df5_2=df5.merge(df5_1,on="id",how='left')
# df5_2["上线天数"]=(df5_2["上线天数_x"]-df5_2["上线天数_y"]).fillna(df5_2["上线天数_x"])
# df5=df5_2[["id","上线天数"]]
#老主管上线天数
# df5_1 = pd.read_excel("D:/python/日报/日报工作天数1.xlsx",sheet_name = 0)
# df5_2 = pd.merge(df5, df5_1, on='id', how='left', suffixes=('_original', '_replacement'))
# df5_2["上线天数"]=df5_2["上线天数_replacement"].combine_first(df5_2["上线天数_original"])
# df5=df5_2[["id","上线天数"]]
mg_df3 = pd.merge(mg_df,df5,on="id",how='left').fillna(0)

In [11]:
df6 = pd.read_excel("D:/python/日报/外呼.xlsx",sheet_name = 0)
df6gp = df6.groupby("dunner_id")[["外呼次数","通时"]].sum().reset_index()
df6gp.rename(columns={"dunner_id":"id"}, inplace=True)
mg_df4 = pd.merge(mg_df3,df6gp,on="id",how='left').fillna(0)

In [12]:
mg_df4["平均外呼次数"]=round(mg_df4["外呼次数"]/mg_df4["上线天数"]).fillna(0)
mg_df4["平均通时"]=round(mg_df4["通时"]/mg_df4["上线天数"]/60).fillna(0)
mg_df4["催回率"]=(mg_df4["回款本金"]/mg_df4["派发本金"]).fillna(0)
mg_df4["催回率"]=mg_df4["催回率"].apply(lambda x:'{:.2%}'.format(x))
mg_df4.replace(np.inf, 0, inplace=True)
# mg_df4["催回率"]=pd.to_numeric(mg_df4["催回率"],errors='raise')

In [13]:
mg_df5=mg_df4
mg_df5["rank"]=mg_df5.groupby("Group")["总实收"].rank(ascending=False,method='first')
mg_df5["rankpct"]=mg_df5.groupby("Group")["总实收"].rank(ascending=False,pct=True)
mg_df5["rankcut"]=pd.cut(mg_df5["rankpct"],[0,0.05,0.25,0.50,0.70,0.90,1],labels=["Top5%","5%-25%","25%-50%","50%-70%","70%-90%","bottom10%"])

In [14]:
df8=pd.read_excel("D:/python/日报/离职时间.xlsx",sheet_name = 0)
df9=pd.read_excel("D:/python/日报/最早上线日期.xlsx",sheet_name = 0)
df8.rename(columns={"user_id":"id"}, inplace=True)
df8=df8[["id","最后工作日"]]
mg_df6 = pd.merge(mg_df5,df8,on="id",how='left')
mg_df7 = pd.merge(mg_df6,df9,on="id",how='left')
# mg_df7['删除时间'] = mg_df7['删除时间'].dt.strftime('%Y-%m-%d')
mg_df7['最后工作日'] = mg_df7['最后工作日'].dt.strftime('%Y-%m-%d')

In [15]:
df10=pd.read_excel("D:/python/日报/新老天数.xlsx",sheet_name = 0)
newdata = df10[df10['if_new'] == "是"]
nd=newdata.groupby("id")["天数"].sum()
mg_df8 = pd.merge(mg_df7,nd,on="id",how='left')
olddata = df10[df10['if_new'] == "否"]
od=olddata.groupby("id")["天数"].sum()
mg_df9 = pd.merge(mg_df8,od,on="id",how='left')
mg_df9.rename(columns={"天数_x":"新人天数","天数_y":"老人天数","""Supervisor 
Formal""":"Supervisor Formal"}, inplace=True)
mg_df9[["新人天数","老人天数"]]=mg_df9[["新人天数","老人天数"]].fillna(0)

In [16]:
mg_df9["min_date"]=pd.to_datetime(mg_df9["min_date"])
mg_df9["Newly enrolled Yes/ No"]=(nowdate-mg_df9["min_date"]).dt.days.apply(lambda x: 'YES' if x < 30 else 'NO')

In [17]:
# mg_df9[["To B Group First","To B Group date"]] = None
df101 = pd.read_excel("D:/python/日报/B组时间.xlsx",sheet_name = 0)
mg_df10 = pd.merge(mg_df9,df101,left_on="id",right_on="催员ID",how="left")
mg_df10.rename(columns={"首次晋升B队列日期":"To B Group date"}, inplace=True)
mg_df10["To B Group First"]=mg_df10["To B Group date"].apply(lambda x: "YES" if pd.notna(x) and x >= fristdate else ("NO" if pd.notna(x) else None))

In [18]:
df11=pd.DataFrame()
df11[["Group","City","Supervisor Formal","TL NO.","Team Leader","Collection Executive NO.","Collection Executive",
     "Newly enrolled Yes/ No","Min Online Date","dimission_date","Gross collection","Gross collectiion ranking",
     "Ranking intervals","Divided principal adjust","Repaid principal adjust","Individual Collection Rate","Average daily number of calls",
     "Average daily talk time","Online days","id","Number of days between rookies","Number of days in a period of old age","Supervisor Reserve","To B Group First","To B Group date"]] =mg_df10[[
    "Group","City","Supervisor Formal","TL NO.","Team Leader","Collection Executive NO.","Collection Executive",
                      "Newly enrolled Yes/ No","min_date","最后工作日","总实收","rank",
                      "rankcut","派发本金","回款本金","催回率","平均外呼次数",
                       "平均通时","上线天数","id","新人天数","老人天数","Supervisor Reserve","To B Group First","To B Group date"]]

In [19]:
df11[["Individual Collection Rate Ranking","Individual Collection Rate Ranking interval","Integrated Ranking","Integrated Ranking interval"]] = None

In [20]:
df15a = df15[df15["Online days"] < 8]
df11r = df11[~df11["id"].isin(df15a["id"])].copy()
df11r["Gross collectiion ranking"]=df11r.groupby("Group")["Gross collection"].rank(ascending=False,method='first')
df11r["催回率"] = df11r["Repaid principal adjust"]/df11r["Divided principal adjust"]
df11r.loc[(df11r["Divided principal adjust"] == 0),"催回率"] = None
df11r["Individual Collection Rate Ranking"] = df11r.groupby("Group")["催回率"].rank(ascending=False, method='first')
# df11r["Individual Collection Rate Ranking"]=df11r.groupby("Group")["Individual Collection Rate"].rank(ascending=False,method='first')
def calculate_range1(row):
    max_m = df11r[df11r['Group'] == row['Group']]["Gross collectiion ranking"].max()
    if row["Gross collectiion ranking"] <= round(max_m * 0.05):
        return "Top5%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.25):
        return "5%-25%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.5):
        return "25%-50%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
def Collection_Rate_range1(row):
    max_m = df11r[df11r['Group'] == row['Group']]["Individual Collection Rate Ranking"].max()
    if row["Individual Collection Rate Ranking"] <= round(max_m * 0.05):
        return "Top5%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.25):
        return "5%-25%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.5):
        return "25%-50%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
df11r["Ranking intervals"] = df11r.apply(calculate_range1, axis=1)
df11r["Individual Collection Rate Ranking interval"] = df11r.apply(Collection_Rate_range1, axis=1)



df11r["日均实收"] = df11r["Gross collection"]/df11r["Online days"]
df11r.loc[(df11r["Gross collection"] == 0)|(df11r["Online days"] == 0),"日均实收"] = None
df11r["日均实收排名"]=df11r.groupby("Group")["日均实收"].rank(ascending=False,method='first')
# df11r["催回率"] = df11r["Repaid principal adjust"]/df11r["Divided principal adjust"]
# df11r.loc[(df11r["Divided principal adjust"] == 0),"催回率"] = None
# df11r["催回率排名"] = df11r.groupby("Group")["催回率"].rank(ascending=False, method='first')
df11r["Integrated Ranking"] = (df11r["日均实收排名"]*0.5+df11r["Individual Collection Rate Ranking"]*0.5)
df11r["综合排名序列"] = df11r.groupby("Group")["Integrated Ranking"].rank(ascending=True, method='first')
def calculate_range11(row):
    max_m = df11r[df11r['Group'] == row['Group']]["综合排名序列"].max()
    if row["综合排名序列"] <= round(max_m * 0.2):
        return "Top20%"
    elif row["综合排名序列"] <= round(max_m * 0.3):
        return "20%-30%"    
    elif row["综合排名序列"] <= round(max_m * 0.5):
        return "30%-50%"
    elif row["综合排名序列"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["综合排名序列"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
df11r["Integrated Ranking interval"] = df11r.apply(calculate_range11, axis=1)
df11r["Integrated Ranking"].fillna(0,inplace=True)
df11r.drop(["日均实收","日均实收排名","综合排名序列","催回率"], axis=1, inplace=True)
# df11r["rankpct"]=df11r.groupby("Group")["Gross collection"].rank(ascending=False,pct=True)
# df11r["Ranking intervals"]=pd.cut(df11r["rankpct"],[0,0.05,0.25,0.50,0.70,0.90,1],labels=["Top5%","5%-25%","25%-50%","50%-70%","70%-90%","bottom10%"])
df11p = df11r[df11r["dimission_date"].notnull()]
df11s = df11p[~df11p["id"].isin(df15["id"])]
# df11s.drop("rankpct",axis= 1,inplace= True)
df21a = pd.concat([df15,df11s],axis=0)

In [21]:
df11d = df11[(~((df11["Online days"] < 8)&(df11["dimission_date"].notnull())))].copy()
df11d["Gross collectiion ranking"]=df11d.groupby("Group")["Gross collection"].rank(ascending=False,method='first')
df11d["催回率"] = df11d["Repaid principal adjust"]/df11d["Divided principal adjust"]
df11d.loc[(df11d["Divided principal adjust"] == 0),"催回率"] = None
df11d["Individual Collection Rate Ranking"] = df11d.groupby("Group")["催回率"].rank(ascending=False, method='first')
# df11d["Individual Collection Rate Ranking"]=df11d.groupby("Group")["Individual Collection Rate"].rank(ascending=False,method='first')
def calculate_range2(row):
    max_m = df11d[df11d['Group'] == row['Group']]["Gross collectiion ranking"].max()
    if row["Gross collectiion ranking"] <= round(max_m * 0.05):
        return "Top5%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.25):
        return "5%-25%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.5):
        return "25%-50%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["Gross collectiion ranking"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
def Collection_Rate_range2(row):
    max_m = df11d[df11d['Group'] == row['Group']]["Individual Collection Rate Ranking"].max()
    if row["Individual Collection Rate Ranking"] <= round(max_m * 0.05):
        return "Top5%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.25):
        return "5%-25%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.5):
        return "25%-50%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["Individual Collection Rate Ranking"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
df11d["Ranking intervals"] = df11d.apply(calculate_range2, axis=1)
df11d["Individual Collection Rate Ranking interval"] = df11d.apply(Collection_Rate_range2, axis=1)


df11d["日均实收"] = df11d["Gross collection"]/df11d["Online days"]
df11d.loc[(df11d["Gross collection"] == 0)|(df11d["Online days"] == 0),"日均实收"] = None
df11d["日均实收排名"]=df11d.groupby("Group")["日均实收"].rank(ascending=False,method='first')
# df11d["催回率"] = df11d["Repaid principal adjust"]/df11d["Divided principal adjust"]
# df11d.loc[(df11d["Divided principal adjust"] == 0),"催回率"] = None
# df11d["催回率排名"] = df11d.groupby("Group")["催回率"].rank(ascending=False, method='first')
df11d[df11d["Group"] == "B1 Group"]
df11d["Integrated Ranking"] = (df11d["日均实收排名"]*0.5+df11d["Individual Collection Rate Ranking"]*0.5)
df11d["综合排名序列"] = df11d.groupby("Group")["Integrated Ranking"].rank(ascending=True, method='first')
def calculate_range21(row):
    max_m = df11d[df11d['Group'] == row['Group']]["综合排名序列"].max()
    if row["综合排名序列"] <= round(max_m * 0.2):
        return "Top20%"
    elif row["综合排名序列"] <= round(max_m * 0.3):
        return "20%-30%"    
    elif row["综合排名序列"] <= round(max_m * 0.5):
        return "30%-50%"
    elif row["综合排名序列"] <= round(max_m * 0.7):
        return "50%-70%"
    elif row["综合排名序列"] <= round(max_m * 0.9):
        return "70%-90%"
    else:
        return "bottom10%"
df11d["Integrated Ranking interval"] = df11d.apply(calculate_range21, axis=1)
df11d["Integrated Ranking"].fillna(0,inplace=True)
df11d.drop(["日均实收","日均实收排名","综合排名序列","催回率"], axis=1, inplace=True)


# df11d["rankpct"]=df11d.groupby("Group")["Gross collection"].rank(ascending=False,pct=True)
# df11d["Ranking intervals"]=pd.cut(df11d["rankpct"],[0,0.05,0.25,0.50,0.70,0.90,1],labels=["Top5%","5%-25%","25%-50%","50%-70%","70%-90%","bottom10%"])
# df11d.drop("rankpct",axis= 1,inplace= True)

In [22]:
# df21=df11[df11["Del_date"].notnull()]
# new_re = df21[~df21["id"].isin(df15["id"])]
# rows_to_delete = df11[(df11["Online days"] < 8) & (df11["Del_date"].notnull())].index
# df11.drop(rows_to_delete, inplace=True)
# df11.dropna(subset="Min Online Date", inplace=True)
# df11["Gross collectiion ranking"]=df11.groupby("Group")["Gross collection"].rank(ascending=False,method='min')
# df11["rankpct"]=df11.groupby("Group")["Gross collection"].rank(ascending=False,pct=True)
# df11["Ranking intervals"]=pd.cut(df11["rankpct"],[0,0.05,0.25,0.50,0.70,0.90,1],labels=["Top5%","5%-25%","25%-50%","50%-70%","70%-90%","bottom10%"])
# df21a = pd.concat([df15,new_re],axis=0)

In [23]:
df11d["To B Group date"] = df11d["To B Group date"].dt.strftime("%Y-%m-%d")
df11d["Min Online Date"] = df11d["Min Online Date"].dt.strftime("%Y-%m-%d")
writer = pd.ExcelWriter('D:/日报/{}日报.xlsx'.format(a))
df11d.to_excel(writer, sheet_name='Sheet1', index=False)
a_mix_group_df = df11d[df11d["Group"]=="A Mix Group"].drop(columns=["To B Group First","To B Group date"])
a_mix_group_df.to_excel(writer, sheet_name='A Mix Group', index=False)
a_new_group_df = df11d[df11d["Group"]=="A New Group"].drop(columns=["To B Group First","To B Group date"])
a_new_group_df.to_excel(writer, sheet_name='A New Group', index=False)
# df11d[df11d["Group"]=="A Mix Group"].to_excel(writer, sheet_name='A Mix Group', index=False)
# df11d[df11d["Group"]=="A New Group"].to_excel(writer, sheet_name='A New Group', index=False)
df11d[df11d["Group"]=="B1 Group"].to_excel(writer, sheet_name='B1 Group', index=False)
df11d[df11d["Group"]=="B2 Group"].to_excel(writer, sheet_name='B2 Group', index=False)
a_Pre_group_df = df11d[df11d["Group"]=="PreRemind"].drop(columns=["To B Group First","To B Group date"])
a_Pre_group_df.to_excel(writer, sheet_name='PreRemind', index=False)
# df11d[df11d["Group"]=="PreRemind"].to_excel(writer, sheet_name='PreRemind', index=False)
df21a.to_excel(writer,sheet_name='Resigned', index=False)
writer.close()

In [24]:
df12=pd.read_excel('D:/日报/{}日报.xlsx'.format(a),sheet_name=0)
df12.drop_duplicates(subset="id",keep= "first",inplace= True)

In [25]:
df12g=df12.groupby(["Group","Supervisor Formal","TL NO."])
Rate1 = df12g['Repaid principal adjust'].sum() / df12g['Divided principal adjust'].sum()
Rate1 = pd.DataFrame(Rate1).reset_index()
Rate1.columns = ['Group', 'Supervisor Formal', 'TL NO.', 'Team Collection Rate1']
Rate1['Rank1'] = Rate1.groupby('Group')['Team Collection Rate1'].rank(method='first',ascending=False)

In [26]:
df12a = df12[df12['Online days'] > 7]
Rate2 = df12a.groupby(["Group", "Supervisor Formal", "TL NO."])['Repaid principal adjust'].sum() / df12a.groupby(["Group", "Supervisor Formal", "TL NO."])['Divided principal adjust'].sum()
Rate2 = pd.DataFrame(Rate2).reset_index()
Rate2.columns = ['Group', 'Supervisor Formal', 'TL NO.', 'Team Collection Rate2(Online days >7)']
Rate2['Rank2'] = Rate2.groupby('Group')['Team Collection Rate2(Online days >7)'].rank(method='first',ascending=False)

In [27]:
df12b = df12a.groupby(["Group", "Supervisor Formal", "TL NO."])
Rate3=df12b["Gross collection"].sum() / df12b['Online days'].sum()
Rate3 = pd.DataFrame(Rate3).reset_index()
Rate3.columns = ['Group', 'Supervisor Formal', 'TL NO.', 'Ave.Gross collection']
Rate3['Rank3'] = Rate3.groupby('Group')['Ave.Gross collection'].rank(method='first',ascending=False)

In [28]:
df12un = pd.read_excel("D:/python/日报/sys_user.xlsx",sheet_name=0)
df12m1 = pd.merge(Rate1, Rate2[["Group","TL NO.",'Team Collection Rate2(Online days >7)', 'Rank2']], on=["Group","TL NO."], how='left')
df12m2 = pd.merge(df12m1, Rate3[["Group","TL NO.",'Ave.Gross collection', 'Rank3']], on=["Group","TL NO."], how='left')
df12un.rename(columns={"no":"TL NO.","name":"Team Leader"}, inplace=True)
df12m3 = pd.merge(df12m2,df12un[["Team Leader","TL NO."]], on=["TL NO."], how='left')
df12m3.style.format({'Team Collection Rate1': '{:.2%}','Team Collection Rate2(Online days >7)': '{:.2%}','Ave.Gross collection': '{:.2f}','Rank1': '{:.0f}','Rank2': '{:.0f}','Rank3': '{:.0f}'})

In [29]:
df12m3[['City']]="Bangkok",
df12_columns = ['Group', 'City', 'Supervisor Formal', 'TL NO.', 'Team Leader', 'Team Collection Rate1','Rank1', 'Team Collection Rate2(Online days >7)','Rank2', 'Ave.Gross collection','Rank3']
df12m4 = df12m3.reindex(columns=df12_columns)
df12m4.to_excel("D:/日报/TL.xlsx",sheet_name='TL',index= False)

In [30]:
df13=pd.read_excel('D:/日报/{}日报.xlsx'.format(a),sheet_name=0)
df13.drop_duplicates(subset="id",keep= "first",inplace= True)
# df13["Supervisor Reserve"] = ["Steve" if x == "Steve2" else x for x in df13["Supervisor Reserve"]]
df13s = df13[df13['Online days'] > 7]
df13a = list(df13s["Supervisor Reserve"].drop_duplicates())
df13b = list(df13s["Supervisor Formal"].drop_duplicates())
df13c = [x for x in df13a if x not in df13b]
df13s = df13s[df13s["Supervisor Reserve"].isin(df13c)]

In [31]:
df13d = df13s.groupby(["Group","Supervisor Reserve"])['Repaid principal adjust'].sum()/df13s.groupby(["Group","Supervisor Reserve"])['Divided principal adjust'].sum()
Rate2 = pd.DataFrame(df13d).reset_index()
Rate2.columns = ['Group', "Supervisor Reserve","Team Collection Rate2"]

In [32]:
df13d = list(df13["Supervisor Reserve"].drop_duplicates())
df13e = list(df13["Supervisor Formal"].drop_duplicates())
df13f = [x for x in df13d if x not in df13e]
df13 = df13[df13["Supervisor Reserve"].isin(df13f)]
df13g = df13.groupby(["Group","Supervisor Reserve"])['Repaid principal adjust'].sum()/df13.groupby(["Group","Supervisor Reserve"])['Divided principal adjust'].sum()
Rate1 = pd.DataFrame(df13g).reset_index()
Rate1.columns = ['Group', "Supervisor Reserve","Team Collection Rate1"]

In [33]:
Rate3=df13s.groupby(["Group","Supervisor Reserve"])['Online days'].sum()
Rate3 = pd.DataFrame(Rate3).reset_index()
Rate3.columns = ['Group', "Supervisor Reserve","Group online days"]
Rate4=df13s.groupby(["Supervisor Reserve"])['Online days'].sum()
Rate4 = pd.DataFrame(Rate4).reset_index()
Rate4.columns = ["Supervisor Reserve","Total online days"]

In [34]:
df13m1 = pd.merge(Rate1, Rate2, on=[ "Group","Supervisor Reserve"], how='left')
df13m2 = pd.merge(df13m1, Rate3, on=[ "Group","Supervisor Reserve"], how='left')
df13m3 = pd.merge(df13m2, Rate4, on=["Supervisor Reserve"], how='left')

In [35]:
df13m3["Proportion"] = df13m3["Group online days"]/df13m3["Total online days"]
df13m3.round({'Team Collection Rate1':4,'Team Collection Rate2': 4,'Proportion':4,'Group online days': 4,'Total online days':0})

,Group,Supervisor Reserve,Team Collection Rate1,Team Collection Rate2,Group online days,Total online days,Proportion
0,A Mix Group,Bunkwan Kraichuay Sup,0.4831,0.4865,308,680,0.4529
1,A Mix Group,Chulawan Ontong Sup,0.4910,0.4912,400,819,0.4884
2,A Mix Group,Chuleewan Sakulsermkaisri,0.4968,0.4968,207,994,0.2082
3,A Mix Group,Darin Inkham Sup,0.4824,0.4857,449,657,0.6834
4,A Mix Group,Ekthana Marayok3,0.4931,0.4941,440,1205,0.3651
5,A Mix Group,Korakot Bunmalee Sup,0.4831,0.4831,447,847,0.5277
6,A Mix Group,Mignon,0.4898,0.4876,385,786,0.4898
7,A Mix Group,Patchanee Pumee,0.5004,0.5030,384,938,0.4094
8,A Mix Group,Phetphailin Phoemlap Sup,0.4818,0.4875,240,486,0.4938
9,A Mix Group,Watchara Wesapun Sup,0.4723,0.4741,254,629,0.4038
10,A New Group,Bunkwan Kraichuay Sup,0.3954,0.3954,214,680,0.3147
11,A New Group,Chuleewan Sakulsermkaisri,0.3679,0.3722,207,994,0.2082
12,A New Group,Ekthana Marayok3,0.3835,0.3854,372,1205,0.3087
13,A New Group,Korakot Bunmalee Sup,0.3765,0.3780,400,847,0.4723
14,A New Group,Mignon,0.3985,0.3990,209,786,0.2659
15,A New Group,Patchanee Pumee,0.3788,0.3796,342,938,0.3646
16,A New Group,Phetphailin Phoemlap Sup,0.3771,0.3817,119,486,0.2449
17,B1 Group,Bunkwan Kraichuay Sup,0.0586,0.0590,158,680,0.2324
18,B1 Group,Chulawan Ontong Sup,0.0643,0.0643,193,819,0.2357
19,B1 Group,Chuleewan Sakulsermkaisri,0.0514,0.0514,172,994,0.1730
20,B1 Group,Ekthana Marayok3,0.0603,0.0603,189,1205,0.1568
21,B1 Group,Mignon,0.0618,0.0618,192,786,0.2443
22,B1 Group,Patchanee Pumee,0.0624,0.0624,212,938,0.2260
23,B1 Group,Watchara Wesapun Sup,0.0541,0.0541,180,629,0.2862
24,B2 Group,Chuleewan Sakulsermkaisri,0.0334,0.0334,168,994,0.1690
25,B2 Group,Darin Inkham Sup,0.0468,0.0468,208,657,0.3166
26,B2 Group,Ekthana Marayok3,0.0403,0.0401,204,1205,0.1693
27,B2 Group,Watchara Wesapun Sup,0.0368,0.0368,195,629,0.3100
28,PreRemind,Chulawan Ontong Sup,0.8300,0.8300,226,819,0.2759
29,PreRemind,Chuleewan Sakulsermkaisri,0.7603,0.7654,240,994,0.2414
30,PreRemind,Phetphailin Phoemlap Sup,0.7953,0.8092,127,486,0.2613

In [36]:
def Target(row):
    if row['Group'] == 'A Mix Group':
        return 0.45
    elif row['Group'] == 'A New Group':
        return 0.29
    elif row['Group'] == 'B1 Group':
        return 0.05
    elif row['Group'] == 'B2 Group':
        return 0.02
    else:
        return 0.73
df13m3['Target (Level C)'] = df13m3.apply(Target, axis=1)
df13m3["Achievement rate"] = df13m3["Team Collection Rate2"]/df13m3['Target (Level C)']

In [37]:
def coefficient(row):
    rate = row['Achievement rate']
    if rate < 0.9:
        return 0.7
    elif 0.9 <= rate < 1:
        return 0.8
    elif 1 <= rate < 1.05:
        return 1
    elif 1.05 <= rate < 1.1:
        return 1.3
    elif 1.1 <= rate < 1.15:
        return 1.6
    elif 1.15 <= rate < 1.2:
        return 1.9
    elif 1.2 <= rate:
        return 2.2
    else:
        None
df13m3['coefficient'] = df13m3.apply(coefficient, axis=1)
df13m3["City"]="Bangkok"

In [38]:
def SN(row):
    rate = row['Supervisor Reserve']
    if rate == "Ekthana Marayok Supervisor":
        return "WDBK005264"
    elif rate == "Jay":
        return "WDBK006774"
    elif rate == "Patchanee Pumee Supervisor":
        return "WDBK005263"
    elif rate == "Sophia":
        return "WDHF100019"
    elif rate == "Anna":
        return "WDBK004932"
    elif rate == "Chuleewan Sakulsermkaisri Supervisor":
        return "WDBK007415"
    elif rate == "Mignon":
        return "WDBK008089"
    elif rate == "Ekthana Marayok3":
        return "WDBK100161"
    elif rate == "Patchanee Pumee":
        return "WDBK100019"    
    elif rate == "Bunkwan Kraichuay Sup":
        return "WDBK009564"        
    elif rate == "Chulawan Ontong Sup":
        return "WDBK009570"        
    elif rate == "Chuleewan Sakulsermkaisri":
        return "WDBK100399" 
    elif rate == "Darin Inkham Sup":
        return "WDBK009568" 
    elif rate == "Korakot Bunmalee Sup":
        return "WDBK009569" 
    elif rate == "Phetphailin Phoemlap Sup":
        return "WDBK009566" 
    elif rate == "Watchara Wesapun Sup":
        return "WDBK009563" 
    else:
        None
df13m3['Supervisor NO.'] = df13m3.apply(SN, axis=1)

In [39]:
df13_columns = ['Group', 'City', 'Supervisor Reserve', 'Supervisor NO.', 'Team Collection Rate1', 'Team Collection Rate2', 'Target (Level C)', 'Achievement rate', 'coefficient', 'Group online days', 'Total online days', 'Proportion']
df13m4 = df13m3.reindex(columns=df13_columns)
df13m4.to_excel("D:/日报/Supervisor Reserve.xlsx",sheet_name='Supervisor Reserve',index= False)

In [40]:
df14=pd.read_excel('D:/日报/{}日报.xlsx'.format(a),sheet_name=0)
df14.drop_duplicates(subset="id",keep= "first",inplace= True)
df14s = df14[df14['Online days'] > 7]
df14a = df14.groupby(["Group","City","Supervisor Formal"])['Repaid principal adjust'].sum()/df14.groupby(["Group","Supervisor Formal"])['Divided principal adjust'].sum()
Rate1 = pd.DataFrame(df14a).reset_index()
Rate1.columns = ['Group', "Supervisor Formal","City","Team Collection Rate1"]

In [41]:
df14b = df14s.groupby(["Group","City","Supervisor Formal"])['Repaid principal adjust'].sum()/df14s.groupby(["Group","Supervisor Formal"])['Divided principal adjust'].sum()
Rate2 = pd.DataFrame(df14b).reset_index()
Rate2.columns = ['Group', "Supervisor Formal","City","Team Collection Rate2"]

In [42]:
Rate3=df14s.groupby(["Group","Supervisor Formal"])['Online days'].sum()
Rate3 = pd.DataFrame(Rate3).reset_index()
Rate3.columns = ['Group', "Supervisor Formal","Group online days"]
Rate4=df14s.groupby(["Supervisor Formal"])['Online days'].sum()
Rate4 = pd.DataFrame(Rate4).reset_index()
Rate4.columns = ["Supervisor Formal","Total online days"]

In [43]:
df14m1 = pd.merge(Rate1, Rate2[["Group","Supervisor Formal","Team Collection Rate2"]], on=[ "Group","Supervisor Formal"], how='left')
df14m2 = pd.merge(df14m1, Rate3, on=[ "Group","Supervisor Formal"], how='left')
df14m3 = pd.merge(df14m2, Rate4, on=["Supervisor Formal"], how='left')
df14m3["Proportion"] = df14m3["Group online days"]/df14m3["Total online days"]
df14m3.style.format({'Team Collection Rate1': '{:.2%}','Team Collection Rate2': '{:.2%}','Proportion': '{:.2%}','Group online days': '{:.0f}','Total online days': '{:.0f}'})

In [44]:
df14m3['Target (Level C)'] = df14m3.apply(Target, axis=1)
df14m3["Achievement rate"] = df14m3["Team Collection Rate2"]/df14m3['Target (Level C)']
df14m3['coefficient'] = df14m3.apply(coefficient, axis=1)

In [45]:
def SF(row):
    rate = row['Supervisor Formal']
    if rate == "Eric3":
        return "WDBK005777"
    elif rate == "Ken6":
        return "WDBK003636"
    elif rate == "Oscar":
        return "WDBK006853"
    elif rate == "Allen":
        return "WDBK006285"
    elif rate == "Jason":
        return "WDBK006025"
    elif rate == "Emotia":
        return "WDBK006152"
    elif rate == "Jay":
        return "WDBK006774"
    elif rate == "Piny Liu":
        return "WDBK007303"
    elif rate == "Sweety":
        return "WDBK008087"
    elif rate == "Will6":
        return "WDBK008088"
    elif rate == "Kevin":
        return "WDBK008331"
    else:
        None
df14m3['Supervisor NO.'] = df14m3.apply(SF, axis=1)

In [46]:
df14_columns = ['Group', 'City', 'Supervisor Formal', 'Supervisor NO.', 'Team Collection Rate1', 'Team Collection Rate2', 'Target (Level C)', 'Achievement rate', 'coefficient', 'Group online days', 'Total online days', 'Proportion']
df14m4 = df14m3.reindex(columns=df14_columns)

In [47]:
df14m4.to_excel("D:/日报/Supervisor Formal.xlsx",sheet_name='Supervisor Formal',index= False)

In [48]:
df14m3

,Group,Supervisor Formal,City,Team Collection Rate1,Team Collection Rate2,Group online days,Total online days,Proportion,Target (Level C),Achievement rate,coefficient,Supervisor NO.
0,A Mix Group,Oscar,Bangkok,0.481411,0.484117,1277,3016,0.423408,0.45,1.075816,1.3,WDBK006853
1,A Mix Group,Sweety,Bangkok,0.496944,0.502436,1289,3381,0.381248,0.45,1.116524,1.6,WDBK008087
2,A Mix Group,Will6,Bangkok,0.487674,0.488678,1294,3557,0.363790,0.45,1.085950,1.3,WDBK008088
3,A New Group,Oscar,Bangkok,0.385222,0.385742,556,3016,0.184350,0.29,1.330146,2.2,WDBK006853
4,A New Group,Sweety,Bangkok,0.386829,0.388635,715,3381,0.211476,0.29,1.340121,2.2,WDBK008087
5,A New Group,Will6,Bangkok,0.374260,0.377055,726,3557,0.204105,0.29,1.300191,2.2,WDBK008088
6,B1 Group,Oscar,Bangkok,0.058625,0.058732,550,3016,0.182361,0.05,1.174648,1.9,WDBK006853
7,B1 Group,Sweety,Bangkok,0.061022,0.061022,381,3381,0.112689,0.05,1.220442,2.2,WDBK008087
8,B1 Group,Will6,Bangkok,0.055501,0.055501,555,3557,0.156030,0.05,1.110026,1.6,WDBK008088
9,B2 Group,Oscar,Bangkok,0.036807,0.036807,195,3016,0.064655,0.02,1.840366,2.2,WDBK006853
10,B2 Group,Sweety,Bangkok,0.043530,0.043521,412,3381,0.121857,0.02,2.176073,2.2,WDBK008087
11,B2 Group,Will6,Bangkok,0.033389,0.033389,168,3557,0.047231,0.02,1.669433,2.2,WDBK008088
12,PreRemind,Oscar,Bangkok,0.792292,0.801992,438,3016,0.145225,0.73,1.098620,1.3,WDBK006853
13,PreRemind,Sweety,Bangkok,0.785759,0.798876,584,3381,0.172730,0.73,1.094350,1.3,WDBK008087
14,PreRemind,Will6,Bangkok,0.796998,0.803627,814,3557,0.228845,0.73,1.100858,1.6,WDBK008088